# auth-service
AUTH_DJANGO_SETTINGS_MODULE=config.settings
AUTH_SECRET_KEY=change-me-auth-secret-key-min-32-bytes-long
AUTH_DEBUG=1
AUTH_SQLITE_PATH=/app/data/db.sqlite3

# finance-service
FINANCE_DJANGO_SETTINGS_MODULE=config.settings
FINANCE_SECRET_KEY=change-me-finance-secret-key-min-32-bytes
FINANCE_DEBUG=1
FINANCE_SQLITE_PATH=/app/data/db.sqlite3
